<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ResellerWebservice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <applicationSettings>
        <ResellerWebservice.Properties.Settings>
            <setting name="ResellerWebservice_PartnerPortalWebservice_PartnerPortal"
                serializeAs="String">
                <value>http://webserviceshlg.westcon.com.br/Reseller.asmx</value>
            </setting>
        </ResellerWebservice.Properties.Settings>
    </applicationSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
      multipleSiteBindingsEnabled="true" />
    <client>
      <endpoint binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="ResellerWebservice.Interfaces.IResellerService" />     
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" closeTimeout="00:10:00" openTimeout="00:10:00"
                 receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="20000000"
                 maxBufferSize="20000000" maxReceivedMessageSize="20000000" transferMode="Buffered">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttp" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00"
                 sendTimeout="00:10:00" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxStringContentLength="20000000" maxArrayLength="20000000" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="wsdlConfiguration" name="ResellerWebservice.Services.ResellerService">        
        <endpoint name="resellerWS" address="ws" binding="wsHttpBinding" bindingConfiguration="wsHttp"
                  contract="ResellerWebservice.Interfaces.IResellerService" />
        <endpoint name="resellerBasic" address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttp"
                  contract="ResellerWebservice.Interfaces.IResellerService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="wsdlConfiguration">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" httpHelpPageEnabled="True" />
          <!--<serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="CustomValidator.LoginFacade, CustomValidator"/>
            <serviceCertificate findValue="Prion" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectName"/>
          </serviceCredentials>-->
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
